<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Car Detail Info</title>
    <link rel="stylesheet" th:href="@{/CSS/account-layout.css}" type="text/css">
</head>
<body>

<div class="container">
    
    <h2>Car Information Details</h2>

        <div class="row">
            <div class="col-50">
                <Label>Car ID: </Label>
            </div>
            <div class="col-75">
                <h4 th:text="${info.carId}"></h4>
            </div>
        </div>

        <div class="row">
            <div class="col-50">
                <Label>Car name: </Label>
            </div>
            <div class="col-75">
                <h4 th:text="${info.carName}"></h4>
            </div>
        </div>

        <div class="row">
            <div class="col-50">
                <label>Owner:</label>
            </div>
            <div class="col-75">
                <h4 th:text="${info.owner}"></h4>
            </div>
        </div>

        <div class="row">
            <div class="col-50">
                <label>Release year:</label>
            </div>
            <div class="col-75">
                <h4 th:text="${info.releaseYear}"></h4>
            </div>
        </div>

        <div class="row">
            <div class="col-50">
                <label>Price/day:</label>
            </div>
            <div class="col-75">
                <h4 id="pricePerDay" th:text="${info.edition}"></h4>
            </div>
        </div>


    <div class="row">
        <div class="col-50">
            <label>Return date:</label>
        </div>
        <div class="col-75">
            <input required="required" id="reserveDate" type="date">
        </div>
    </div>

    <div class="row">
        <div class="col-75">
            <button onclick="calculateTotal()">Total Price</button>
        </div>
    </div>

    <div class="row">
        <div class="col-75">
            <p id="totalCost"></p>
        </div>
    </div>

    <title>TotalPrice</title>
    <script>
        function calculateTotal() {
            // ?? price/day
            var pricePerDay = parseFloat(document.getElementById('pricePerDay').innerText);
            var todayDate = new Date(); // ?????
            var reserveDate = new Date(document.getElementById('reserveDate').value);
            var timeDiff = Math.abs(reserveDate.getTime() - todayDate.getTime());
            var rentalDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
            var totalCost = pricePerDay * rentalDays;

            document.getElementById('totalCost').innerHTML = 'Totaly Price$' + totalCost.toFixed(2);
        }
    </script>


    <div>
        <h3>
            Check out for your reservation bill !!
        </h3>
    </div>

        <div class="row">
            <div class="col-50">
                <label>Card Number:</label>
            </div>
            <div class="col-75">
                <input required="required" type="number"/>
            </div>
        </div>

        <div class="row">
            <div class="col-50">
                <label>Name on Card:</label>
            </div>
            <div class="col-75">
                <input required="required" type="text"/>
            </div>
        </div>

        <div class="row">
            <div class="col-50">
                <label>Exp Date:</label>
            </div>
            <div class="col-75">
                <input required="required" type="date"/>
            </div>
        </div>

        <div class="row">
            <div class="col-50">
                <label>CVV:</label>
            </div>
            <div class="col-75">
                <input required="required" type="number"/>
            </div>
        </div>


        <div class="row">
            <div class="col-50">
            </div>
            <div class="col-75">
                <input type="submit" value="PAY FOR IT">
                <input name="_csrf" th:value="${_csrf.token}" type="hidden">
                <input name="_method" th:value="PUT" type="hidden">
            </div>
        </div>

</div>
</body>
</html>