<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Are you sure?</title>

    <link rel="stylesheet" th:href="@{/CSS/account-layout.css}" type="text/css">
</head>
<body>

<div class="container">

    <h3>Confirm to delete the car</h3>

    <div class="row">
        <div class="col-50">
            <label>Car name :</label>
        </div>
        <div class="col-75">
            <label th:text="${deleteCar.carName}"></label>
        </div>
    </div>

    <div class="row">
        <div class="col-50">
            <label>Owner: </label>
        </div>
        <div class="col-75">
            <label th:text="${deleteCar.owner}"></label>
        </div>
    </div>

    <div class="row">
        <div class="col-50">
            <label>Release Year:</label>
        </div>
        <div class="col-75">
            <label th:text="${deleteCar.releaseYear}"></label>
        </div>
    </div>

    <div class="row">
        <div class="col-50">
            <label>Price/Day:</label>
        </div>
        <div class="col-75">
            <label th:text="${deleteCar.edition}"></label>
        </div>
    </div>

    <div class="row">
        <div class="col-50">
            <form action="/employee/cars/deletecar" th:method="DELETE">
                <input style="background-color: red" type="submit" value="Delete car">
                <input name="deleteCarId" th:value="${deleteCar.carId}" type="hidden">
                <input name="_method" th:value="DELETE" type="hidden">
                <input name="_csrf" th:value="${_csrf.token}" type="hidden">
            </form>
        </div>
        <div class="col-75">
            <br>
            <a href="/employee/cars/showcars?showAllCars=Show+all+cars" > Cancel Deletion</a>
        </div>
    </div>

</body>
</html>