<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Car deleted</title>
    <link rel="stylesheet" th:href="@{/CSS/account-layout.css}" type="text/css">
</head>
<body>

<div class="container">
    <h3>Successfully deleted !</h3><br><br>

    <div class="row">

        <button style="background-color: #add8e6; color: black;">
            <a href="/employee/cars/showcars?showAllCars=Show+all+cars">  Go back</a>
        </button>

    </div>
</div>
</body>
</html>