<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Users</title>
    <link rel="stylesheet" th:href="@{/CSS/account-layout.css}" type="text/css">
</head>
<body>

<div class="sidebar-container">
    <ul th:replace="page-layout :: employeeNavBar">
    </ul>
</div>

<div class="container">


    <h3>User List</h3>

    <div class="row">

        <form method="GET" th:action="@{/employee/users/showusers}">
            <div class="col-25">
                <label for="firstName">First Name</label>
            </div>
            <div class="col-75">
                <input id="firstName" name="firstName" type="text">
            </div>

            <div class="col-25">
                <label for="lastName">Last Name</label>
            </div>
            <div class="col-75">
                <input id="lastName" name="lastName" type="text">
            </div>
            <div>
                <input type="submit" value="Search">
            </div>
        </form>

    </div>
    <br/>
    <table id="tablestyle" th:if="${usersWithFines.size > 0}">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>City</th>
            <th>Phone Number</th>
<!--            <th>Fine</th>-->
            <th style="width: 150px">More Information</th>
        </tr>

        <tr th:each="user : ${usersWithFines}">
            <td th:text="${user.key.firstName}"></td>
            <td th:text="${user.key.lastName}"></td>
            <td th:text="${user.key.city}"></td>
            <td th:text="${user.key.phoneNumber}"></td>
            <td>
                <form method="GET" th:action="@{/employee/users/showuserinfo}">
                    <input class="table" style="background-color: #21618C" type="submit" value="More user detail">
                    <input name="userId" th:value="${user.key.userId}" type="hidden">
                    <input name="fine" th:value="${user.value}" type="hidden">
                </form>
            </td>
        </tr>

    </table>

</div>
</body>
</html>